#board {
    position: relative;
    margin: auto;
    background-color: #ffffff;
}
#score-tile{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 3rem;
}
#board div {
    background-color: gray;
    border: .5px solid turquoise;
    box-sizing: border-box;
    float: left;
    width: 10px;
    height: 10px;
}

#board .snake {
    background-color:#9ce505;
}
#board .food {
    background-color:red;
}
#end-game{
    display: none;
    background-color:#52cab5;
    color:#ffffff;
    text-align: center;
    font-size: 25px;
    width: 150px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -100px;
    margin-top: -150px;
    z-index: 100;
}

#play-again{
    font-size:20px;
    padding: 5px;
    background-color: rgb(223, 236, 32);
    cursor:pointer; 
    z-index: 100;
}
#play-again:active{
    padding: 7px;
}